main.main
  section.container
    div.row
      div.col
        h2 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
  section.slider
    include slider.pug
  section.container
    div.row
      div.col
        h2 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
        button.btn.btn-primary(type='button') Primary
  section.container-fluid.dark
    div.container.row.mx-auto
      div.col
        h3 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
      div.col
        h3 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
  section.container
    div.row
      div.col
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
  section.container-fluid.yellow
    div.container.row.mx-auto
      div.col
        h3 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
      div.col
        h3 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
      div.col
        h3 Mauris elit voltotur.
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
  section.container
    div.row
      div.col
        p Lorem ipsum dolor sit amet mauris. Cras dignissim. Pellentesque fringilla vel, metus. Donec aliquam eget, facilisis vel, wisi. Sed aliquet id, eleifend placerat. Curabitur nunc. Vivamus malesuada ultricies iaculis massa. Curabitur elit. Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum. Proin consectetuer arcu erat id lorem. Nunc consectetuer adipiscing elit. Curabitur volutpat massa mattis ac, cursus odio. Cras nec egestas quis, libero.
        i.fa.fa-facebook-square(aria-hidden='true')
        i.fa.fa-twitter-square(aria-hidden='true')
        i.fa.fa-google-plus-square(aria-hidden='true')

  section.container-fluid.violet
    div.container.row.mx-auto
      div.col
        form
          .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
          .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password')
          .form-check
            label.form-check-label
              input.form-check-input(type='checkbox')
              |       Check me out
          button.btn.btn-primary(type='submit') Submit
      div.col
        p Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum.
        ul.list-group
          li.list-group-item.d-flex.justify-content-between.align-items-center
            | Cras justo odio
            span.badge.badge-primary.badge-pill 14
          li.list-group-item.d-flex.justify-content-between.align-items-center
            | Dapibus ac facilisis in
            span.badge.badge-primary.badge-pill 2
          li.list-group-item.d-flex.justify-content-between.align-items-center
            | Morbi leo risus
            span.badge.badge-primary.badge-pill 1
      div.col
        p Mauris eros bibendum tempus. Morbi congue odio a enim ac ipsum.
        button.btn.btn-primary(type='button') Primary
        button.btn.btn-secondary(type='button') Secondary
        button.btn.btn-success(type='button') Success
        button.btn.btn-danger(type='button') Danger
        button.btn.btn-warning(type='button') Warning
        button.btn.btn-info(type='button') Info
        button.btn.btn-light(type='button') Light
        button.btn.btn-dark(type='button') Dark
